server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        # Route cho authentication
        - id: user-service-auth
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/auth/**

        # Route cho user management
        - id: user-service-users
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**

        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/**

        - id: category-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/categories/**

        - id: restaurant-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/restaurants/**


        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/orders/**


        - id: payment-service
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/api/payments/**
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
